      
            
    <div class="topnav">
        <a class="active" href="../">Home</a>

        <div class="login-container">

            <% if (typeof name !== 'undefined') { %>
                
                <p>Hello, <%= name %> </p>
                <form action="/logout" method="GET">
                    <input  type="submit" value="Logout" />
                </form>

            <% } else { %>
            <form action="/login" method="GET">
                <input  type="submit" value="Login" />
            </form>
            <form action="/register" method="GET">
                <input  type="submit" value="Register" />
            </form>

            <% } %>

            <% if (typeof cartCount !== 'undefined') { %>

                <form action="/cart" method="GET">
                    <input  type="submit" value="Cart: <%=cartCount %>" />
                </form>

            <% } %>

        </div>
        </div> 
              
