

<title>title</title>
<link rel='stylesheet' href='/stylesheets/style.css'></link>
<link rel='stylesheet' href='/stylesheets/index.css'></link>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

