<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <header>
        <%- include('./partials/header'); %>
    </header>

      <div class="middle">
        <h1>Shop</h1>

        <div id="ProductBox">
          <div id="ProductBox_individual">
            <image style="width:200px; height:200px"></image>
            <p>Product name</p>
            <p>Price: $$</p>
          </div>

          <div id="ProductBox_individual">
            <image style="width:200px; height:200px"></image>
            <p>Product name</p>
            <p>Price: $$</p>
          </div>

          <div id="ProductBox_individual">
            <image style="width:200px; height:200px"></image>
            <p>Product name</p>
            <p>Price: $$</p>
          </div>

          <div id="ProductBox_individual">
            <image style="width:200px; height:200px"></image>
            <p>Product name</p>
            <p>Price: $$</p>
          </div>

          <div id="ProductBox_individual">
            <image style="width:200px; height:200px"></image>
            <p>Product name</p>
            <p>Price: $$</p>
          </div>

          <div id="ProductBox_individual">
            <image style="width:200px; height:200px"></image>
            <p>Product name</p>
            <p>Price: $$</p>
          </div>

          <div id="ProductBox_individual">
            <image style="width:200px; height:200px"></image>
            <p>Product name</p>
            <p>Price: $$</p>
          </div>


          <div id="ProductBox_individual">
            <image style="width:200px; height:200px"></image>
            <p>Product name</p>
            <p>Price: $$</p>
          </div>

          <div id="ProductBox_individual">
            <image style="width:200px; height:200px"></image>
            <p>Product name</p>
            <p>Price: $$</p>
          </div>

          <div id="ProductBox_individual">
            <image style="width:200px; height:200px"></image>
            <p>Product name</p>
            <p>Price: $$</p>
          </div>
        </div>




      </div>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
