<!DOCTYPE html>
<html>

  <head>
    <%- include('partials/head'); %>
  </head>

  <body>

    <header>
      <%- include('./partials/header'); %>
    </header>
        
    <div class="middle">
        <div id="ProductBox_Big">

            <h1>Error product not found

        </div>
    </div>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    
  </body>

</html>
